[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/Adafruit_NeoPixel"]
	path = components/Adafruit_NeoPixel
	url = https://github.com/better-adapted/Adafruit_NeoPixel.git
